# Write CSV Files in Python Pandas

## Difference betweem CSV and XLS file format

- CSV format is a plain text format in which values are seprated by commas 
- XLS file format is an Excel Sheets binary file format which holds information about 
all the worksheets in a file, including both content and formatting.

In [5]:
import pandas as pd

In [19]:
dic = {'a':[1,2,3,4,5,6],'m':[1,2,3,4,5,6],'g':[1,2,3,4,5,6]}
d = pd.DataFrame(dic)
print(d)
d.to_csv('new_file.csv',index=False,header=['column_1','column_2','column_3'])

   a  m  g
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

## Read CSV files

- A simple way to store big data sets is to use CSV files (comma seprated files)
- CSV files contains plain text and is a well known format that can be read by everyone including Pandas

In [131]:
csv_1 = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\energy.csv") # path of your csv file
csv_1

                     source            target    value
0      Agricultural 'waste'    Bio-conversion  124.729
1            Bio-conversion            Liquid    0.597
2            Bio-conversion            Losses   26.862
3            Bio-conversion             Solid  280.322
4            Bio-conversion               Gas   81.144
..                      ...               ...      ...
63       Thermal generation  District heating   79.329
64                    Tidal  Electricity grid    9.452
65  UK land based bioenergy    Bio-conversion  182.010
66                     Wave  Electricity grid   19.013
67                     Wind  Electricity grid  289.366

[68 rows x 3 columns]

## Extract single row or n rows

In [54]:
csv_2 = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\energy.csv",nrows=3)
print(csv_2)
print('type',type(csv_2))

                 source          target    value
0  Agricultural 'waste'  Bio-conversion  124.729
1        Bio-conversion          Liquid    0.597
2        Bio-conversion          Losses   26.862
type <class 'pandas.core.frame.DataFrame'>

## Extract single column or n columns

In [58]:
csv_3 = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\energy.csv",usecols=['target','value'])
print(csv_3)

              target    value
0     Bio-conversion  124.729
1             Liquid    0.597
2             Losses   26.862
3              Solid  280.322
4                Gas   81.144
..               ...      ...
63  District heating   79.329
64  Electricity grid    9.452
65    Bio-conversion  182.010
66  Electricity grid   19.013
67  Electricity grid  289.366

[68 rows x 2 columns]

## skip the rows

In [69]:
csv_4 = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\energy.csv",skiprows=[1,2])
print(csv_4)

                     source            target    value
0            Bio-conversion            Losses   26.862
1            Bio-conversion             Solid  280.322
2            Bio-conversion               Gas   81.144
3           Biofuel imports            Liquid   35.000
4           Biomass imports             Solid   35.000
..                      ...               ...      ...
61       Thermal generation  District heating   79.329
62                    Tidal  Electricity grid    9.452
63  UK land based bioenergy    Bio-conversion  182.010
64                     Wave  Electricity grid   19.013
65                     Wind  Electricity grid  289.366

[66 rows x 3 columns]

## how to change the index

In [71]:
csv_5 = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\energy.csv",index_col='value')
print(csv_5)

                          source            target
value
124.729     Agricultural 'waste'    Bio-conversion
0.597             Bio-conversion            Liquid
26.862            Bio-conversion            Losses
280.322           Bio-conversion             Solid
81.144            Bio-conversion               Gas
...                          ...               ...
79.329        Thermal generation  District heating
9.452                      Tidal  Electricity grid
182.010  UK land based bioenergy    Bio-conversion
19.013                      Wave  Electricity grid
289.366                     Wind  Electricity grid

[68 rows x 2 columns]

## header parameter .... convert any single row into the header

In [78]:
csv_6 = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\energy.csv",header=1)
print(csv_6)

       Agricultural 'waste'    Bio-conversion  124.729
0            Bio-conversion            Liquid    0.597
1            Bio-conversion            Losses   26.862
2            Bio-conversion             Solid  280.322
3            Bio-conversion               Gas   81.144
4           Biofuel imports            Liquid   35.000
..                      ...               ...      ...
62       Thermal generation  District heating   79.329
63                    Tidal  Electricity grid    9.452
64  UK land based bioenergy    Bio-conversion  182.010
65                     Wave  Electricity grid   19.013
66                     Wind  Electricity grid  289.366

[67 rows x 3 columns]

## name parameter ..... use to change the heading

In [86]:
csv_6 = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\energy.csv",names=['resource','type','number'])
print(csv_6)

                   resource              type   number
0                    source            target    value
1      Agricultural 'waste'    Bio-conversion  124.729
2            Bio-conversion            Liquid    0.597
3            Bio-conversion            Losses   26.862
4            Bio-conversion             Solid  280.322
..                      ...               ...      ...
64       Thermal generation  District heating   79.329
65                    Tidal  Electricity grid    9.452
66  UK land based bioenergy    Bio-conversion   182.01
67                     Wave  Electricity grid   19.013
68                     Wind  Electricity grid  289.366

[69 rows x 3 columns]

## how to convert the data type

In [129]:
csv_7 = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\energy.csv",dtype={'value':'float'})
print(csv_7)

                     source            target    value
0      Agricultural 'waste'    Bio-conversion  124.729
1            Bio-conversion            Liquid    0.597
2            Bio-conversion            Losses   26.862
3            Bio-conversion             Solid  280.322
4            Bio-conversion               Gas   81.144
..                      ...               ...      ...
63       Thermal generation  District heating   79.329
64                    Tidal  Electricity grid    9.452
65  UK land based bioenergy    Bio-conversion  182.010
66                     Wave  Electricity grid   19.013
67                     Wind  Electricity grid  289.366

[68 rows x 3 columns]