# Data Analysis

Data analysis is a process of inspecting , cleansing, transforming and modelling data with the goal of discovering useful information , informing conclusions and supporting decision making.

### Python libraries for Data Analysis

- what is Pandas?
- Pandas vs Excel
- Pandas Data Structures
- Installation and Import Pandas
- Implementation of Pandas

## What will we study

- NumPy 
- statsmodel
- matplotlib
- sciPy
- Scikit learn
- Pandas
- seaborn

# What is Pandas

- The name "pandas" has a reference to both "panel data" , and "python data analysis" and was created by wes mickinney in 2008
- pandas is a python library used for working with data sets
- IT has function for analyzing , cleaning , exploring and manipulating data.
- read and write data structures and different formats:- CSV , JSON, ZIP

# Pandas Data Structures

### Three Data Structures
- Series: one-Dimensional labeled arrays pd.series(Data)
- Data Frames: Two-Dimensional data structure with columns, much like a table.
- Panel: A pannel is a 3D container of data.

# Installlation and Import Pandas

In [13]:
pip install pandas

Requirement already satisfied: pandas in c:\users\2309m\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\2309m\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\2309m\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\2309m\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\2309m\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\2309m\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Imprtance of Pandas in Python

- Pandas allow us to analyse big data and make conclusion based on statistical theories.
- Pandas can clean messy data sets, and make them readable and relevant
- Easy handling of missing data(represented as NaN) in floating as well as non-floating point data
- size mutablility : columns can be inserted and deleted from DataFrame and higher dimensional objects.
- Data set merging and joining. Flexible reshaping and pivoting of data sets Provides time series functionality

# Data Structures in Python

## The Pandas provide two data structures for processing the data.
### series & DataFrame and Panel

# series 
 series:- It is defined as a one-dimensional array that is capable of storing various data types.

In [35]:
import pandas as pd 
x=[1,2,3,4,5,6]
var = pd.Series(x)
print(var)
print('Type:- ',type(var))
print()
#how to change index?
var1 = pd.Series(x,index=['a','s','d','f','m','g'])
print(var1)
print()
# how to change data type 
var2 = pd.Series(x,index=['a','s','d','f','m','g'],dtype='float',name='Python')
print(var2)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Type:-  <class 'pandas.core.series.Series'>

a    1
s    2
d    3
f    4
m    5
g    6
dtype: int64

a    1.0
s    2.0
d    3.0
f    4.0
m    5.0
g    6.0
Name: Python, dtype: float64

In [41]:
dic = {'name':['python','c','c++','java'] ,'popuarity':[12,13,14,15],'rank':[1,4,3,2] }
var1 = pd.Series(dic)
var1

name         [python, c, c++, java]
popuarity          [12, 13, 14, 15]
rank                   [1, 4, 3, 2]
dtype: object

In [45]:
s= pd.Series(12,index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [47]:
s1= pd.Series(12,index=[1,2,3,4,5,6,7])
s2= pd.Series(12,index=[1,2,3,4])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

# Data Frame

In [54]:
l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
print(var)
print('Type:- ', type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
Type:-  <class 'pandas.core.frame.DataFrame'>

In [78]:
d={'a':[1,2,3,4,5],'s':[1,2,3,4,5],'d':[1,2,3,4,5],1:[1,2,3,4,5]} # length should be the same
var1=pd.DataFrame(d) 
var2=pd.DataFrame(d,columns=['a',1],index=['a','s','d','f','g']) 
print(var1)
print(var1['a'][3]) # data present at 3 index
print()
print(var2)
print('Type:- ', type(var1))

   a  s  d  1
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5
4

   a  1
a  1  1
s  2  2
d  3  3
f  4  4
g  5  5
Type:-  <class 'pandas.core.frame.DataFrame'>

In [84]:
list_1 = [[1,2,3,4,5],[11,12,13,14,15]]
var3=pd.DataFrame(list_1) 
print(var3)
print('Type:- ', type(var3))

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15
Type:-  <class 'pandas.core.frame.DataFrame'>

In [86]:
sr = {'s':pd.Series([1,2,3,4]),'a':pd.Series([1,2,3,4])}
var4=pd.DataFrame(sr) 
print(var4)
print('Type:- ', type(var4))

   s  a
0  1  1
1  2  2
2  3  3
3  4  4
Type:-  <class 'pandas.core.frame.DataFrame'>