# Handling Missing Data

## dropna & fillna

In [157]:
import pandas as pd
var = pd.read_csv("C:\\Users\\2309m\\Desktop\\MY WORK\\Github\\Pandas\\data (1).csv")
var

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'    NaN     130.0     409.1
1       60.0           NaN  117.0     145.0       NaN
2       60.0  '2020/12/03'    NaN     135.0     340.0
3       45.0  '2020/12/04'  109.0       NaN     282.4
4       45.0           NaN  117.0     148.0     406.0
5       60.0  '2020/12/06'    NaN     127.0     300.0
6       60.0  '2020/12/07'  110.0     136.0     374.0
7      450.0           NaN  104.0     134.0     253.3
8       30.0  '2020/12/09'  109.0     133.0     195.1
9       60.0  '2020/12/10'   98.0     124.0     269.0
10      60.0  '2020/12/11'  103.0       NaN     329.3
11      60.0  '2020/12/12'  100.0     120.0     250.7
12      60.0  '2020/12/12'  100.0     120.0     250.7
13      60.0  '2020/12/13'  106.0     128.0     282.4
14      60.0  '2020/12/14'  104.0     132.0     379.3
15      60.0  '2020/12/15'    NaN     123.0     275.0
16      60.0  '2020/12/16'   98.0     120.0     215.2
17      60.0  '2020/12/17'  100.0     120.0     300.0
18      45.0  '2020/12/18'   90.0     112.0     282.4
19      60.0  '2020/12/19'  103.0     123.0     323.0
20      45.0  '2020/12/20'   97.0     125.0     243.0
21      60.0  '2020/12/21'  108.0       NaN     364.2
22      45.0           NaN  100.0     119.0     282.0
23      60.0  '2020/12/23'  130.0     101.0     300.0
24      45.0  '2020/12/24'  105.0     132.0       NaN
25      60.0  '2020/12/25'  102.0     126.0     334.5
26      60.0      20201226  100.0     120.0     250.0
27      60.0  '2020/12/27'   92.0     118.0     241.0
28      60.0  '2020/12/28'  103.0     132.0     282.4
29      60.0  '2020/12/29'  100.0     132.0     280.0
30       NaN           NaN    NaN       NaN       NaN
31      60.0  '2020/12/31'   92.0     115.0     243.0

In [159]:
var.dropna() #drops null values
var.dropna(axis=1) # drops a column which ha null values

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [161]:
var.dropna(how="any")

    Duration          Date  Pulse  Maxpulse  Calories
6       60.0  '2020/12/07'  110.0     136.0     374.0
8       30.0  '2020/12/09'  109.0     133.0     195.1
9       60.0  '2020/12/10'   98.0     124.0     269.0
11      60.0  '2020/12/12'  100.0     120.0     250.7
12      60.0  '2020/12/12'  100.0     120.0     250.7
13      60.0  '2020/12/13'  106.0     128.0     282.4
14      60.0  '2020/12/14'  104.0     132.0     379.3
16      60.0  '2020/12/16'   98.0     120.0     215.2
17      60.0  '2020/12/17'  100.0     120.0     300.0
18      45.0  '2020/12/18'   90.0     112.0     282.4
19      60.0  '2020/12/19'  103.0     123.0     323.0
20      45.0  '2020/12/20'   97.0     125.0     243.0
23      60.0  '2020/12/23'  130.0     101.0     300.0
25      60.0  '2020/12/25'  102.0     126.0     334.5
26      60.0      20201226  100.0     120.0     250.0
27      60.0  '2020/12/27'   92.0     118.0     241.0
28      60.0  '2020/12/28'  103.0     132.0     282.4
29      60.0  '2020/12/29'  100.0     132.0     280.0
31      60.0  '2020/12/31'   92.0     115.0     243.0

In [163]:
var.dropna(how="all")# removes the row which has all null values in this row 30 is a example

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'    NaN     130.0     409.1
1       60.0           NaN  117.0     145.0       NaN
2       60.0  '2020/12/03'    NaN     135.0     340.0
3       45.0  '2020/12/04'  109.0       NaN     282.4
4       45.0           NaN  117.0     148.0     406.0
5       60.0  '2020/12/06'    NaN     127.0     300.0
6       60.0  '2020/12/07'  110.0     136.0     374.0
7      450.0           NaN  104.0     134.0     253.3
8       30.0  '2020/12/09'  109.0     133.0     195.1
9       60.0  '2020/12/10'   98.0     124.0     269.0
10      60.0  '2020/12/11'  103.0       NaN     329.3
11      60.0  '2020/12/12'  100.0     120.0     250.7
12      60.0  '2020/12/12'  100.0     120.0     250.7
13      60.0  '2020/12/13'  106.0     128.0     282.4
14      60.0  '2020/12/14'  104.0     132.0     379.3
15      60.0  '2020/12/15'    NaN     123.0     275.0
16      60.0  '2020/12/16'   98.0     120.0     215.2
17      60.0  '2020/12/17'  100.0     120.0     300.0
18      45.0  '2020/12/18'   90.0     112.0     282.4
19      60.0  '2020/12/19'  103.0     123.0     323.0
20      45.0  '2020/12/20'   97.0     125.0     243.0
21      60.0  '2020/12/21'  108.0       NaN     364.2
22      45.0           NaN  100.0     119.0     282.0
23      60.0  '2020/12/23'  130.0     101.0     300.0
24      45.0  '2020/12/24'  105.0     132.0       NaN
25      60.0  '2020/12/25'  102.0     126.0     334.5
26      60.0      20201226  100.0     120.0     250.0
27      60.0  '2020/12/27'   92.0     118.0     241.0
28      60.0  '2020/12/28'  103.0     132.0     282.4
29      60.0  '2020/12/29'  100.0     132.0     280.0
31      60.0  '2020/12/31'   92.0     115.0     243.0

## subset parameter

In [169]:
var.dropna(subset=['Date'] )# all the null values present in column Date are removed

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'    NaN     130.0     409.1
2       60.0  '2020/12/03'    NaN     135.0     340.0
3       45.0  '2020/12/04'  109.0       NaN     282.4
5       60.0  '2020/12/06'    NaN     127.0     300.0
6       60.0  '2020/12/07'  110.0     136.0     374.0
8       30.0  '2020/12/09'  109.0     133.0     195.1
9       60.0  '2020/12/10'   98.0     124.0     269.0
10      60.0  '2020/12/11'  103.0       NaN     329.3
11      60.0  '2020/12/12'  100.0     120.0     250.7
12      60.0  '2020/12/12'  100.0     120.0     250.7
13      60.0  '2020/12/13'  106.0     128.0     282.4
14      60.0  '2020/12/14'  104.0     132.0     379.3
15      60.0  '2020/12/15'    NaN     123.0     275.0
16      60.0  '2020/12/16'   98.0     120.0     215.2
17      60.0  '2020/12/17'  100.0     120.0     300.0
18      45.0  '2020/12/18'   90.0     112.0     282.4
19      60.0  '2020/12/19'  103.0     123.0     323.0
20      45.0  '2020/12/20'   97.0     125.0     243.0
21      60.0  '2020/12/21'  108.0       NaN     364.2
23      60.0  '2020/12/23'  130.0     101.0     300.0
24      45.0  '2020/12/24'  105.0     132.0       NaN
25      60.0  '2020/12/25'  102.0     126.0     334.5
26      60.0      20201226  100.0     120.0     250.0
27      60.0  '2020/12/27'   92.0     118.0     241.0
28      60.0  '2020/12/28'  103.0     132.0     282.4
29      60.0  '2020/12/29'  100.0     132.0     280.0
31      60.0  '2020/12/31'   92.0     115.0     243.0

# how to fill value

In [171]:
var.fillna("python") # fills the null values with word python

   Duration          Date   Pulse Maxpulse Calories
0      60.0  '2020/12/01'  python    130.0    409.1
1      60.0        python   117.0    145.0   python
2      60.0  '2020/12/03'  python    135.0    340.0
3      45.0  '2020/12/04'   109.0   python    282.4
4      45.0        python   117.0    148.0    406.0
5      60.0  '2020/12/06'  python    127.0    300.0
6      60.0  '2020/12/07'   110.0    136.0    374.0
7     450.0        python   104.0    134.0    253.3
8      30.0  '2020/12/09'   109.0    133.0    195.1
9      60.0  '2020/12/10'    98.0    124.0    269.0
10     60.0  '2020/12/11'   103.0   python    329.3
11     60.0  '2020/12/12'   100.0    120.0    250.7
12     60.0  '2020/12/12'   100.0    120.0    250.7
13     60.0  '2020/12/13'   106.0    128.0    282.4
14     60.0  '2020/12/14'   104.0    132.0    379.3
15     60.0  '2020/12/15'  python    123.0    275.0
16     60.0  '2020/12/16'    98.0    120.0    215.2
17     60.0  '2020/12/17'   100.0    120.0    300.0
18     45.0  '2020/12/18'    90.0    112.0    282.4
19     60.0  '2020/12/19'   103.0    123.0    323.0
20     45.0  '2020/12/20'    97.0    125.0    243.0
21     60.0  '2020/12/21'   108.0   python    364.2
22     45.0        python   100.0    119.0    282.0
23     60.0  '2020/12/23'   130.0    101.0    300.0
24     45.0  '2020/12/24'   105.0    132.0   python
25     60.0  '2020/12/25'   102.0    126.0    334.5
26     60.0      20201226   100.0    120.0    250.0
27     60.0  '2020/12/27'    92.0    118.0    241.0
28     60.0  '2020/12/28'   103.0    132.0    282.4
29     60.0  '2020/12/29'   100.0    132.0    280.0
30   python        python  python   python   python
31     60.0  '2020/12/31'    92.0    115.0    243.0

In [173]:
var.fillna({'Date':'python','Pulse':'dead'}) # refer row 96 for changes

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'   dead     130.0     409.1
1       60.0        python  117.0     145.0       NaN
2       60.0  '2020/12/03'   dead     135.0     340.0
3       45.0  '2020/12/04'  109.0       NaN     282.4
4       45.0        python  117.0     148.0     406.0
5       60.0  '2020/12/06'   dead     127.0     300.0
6       60.0  '2020/12/07'  110.0     136.0     374.0
7      450.0        python  104.0     134.0     253.3
8       30.0  '2020/12/09'  109.0     133.0     195.1
9       60.0  '2020/12/10'   98.0     124.0     269.0
10      60.0  '2020/12/11'  103.0       NaN     329.3
11      60.0  '2020/12/12'  100.0     120.0     250.7
12      60.0  '2020/12/12'  100.0     120.0     250.7
13      60.0  '2020/12/13'  106.0     128.0     282.4
14      60.0  '2020/12/14'  104.0     132.0     379.3
15      60.0  '2020/12/15'   dead     123.0     275.0
16      60.0  '2020/12/16'   98.0     120.0     215.2
17      60.0  '2020/12/17'  100.0     120.0     300.0
18      45.0  '2020/12/18'   90.0     112.0     282.4
19      60.0  '2020/12/19'  103.0     123.0     323.0
20      45.0  '2020/12/20'   97.0     125.0     243.0
21      60.0  '2020/12/21'  108.0       NaN     364.2
22      45.0        python  100.0     119.0     282.0
23      60.0  '2020/12/23'  130.0     101.0     300.0
24      45.0  '2020/12/24'  105.0     132.0       NaN
25      60.0  '2020/12/25'  102.0     126.0     334.5
26      60.0      20201226  100.0     120.0     250.0
27      60.0  '2020/12/27'   92.0     118.0     241.0
28      60.0  '2020/12/28'  103.0     132.0     282.4
29      60.0  '2020/12/29'  100.0     132.0     280.0
30       NaN        python   dead       NaN       NaN
31      60.0  '2020/12/31'   92.0     115.0     243.0

In [175]:
var.fillna(method='ffill') # fills the null values with forward data
var.fillna(method='bfill') # fills the null values with backward data

C:\Users\2309m\AppData\Local\Temp\ipykernel_57304\3965050420.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method='ffill') # fills the null values with forward data
C:\Users\2309m\AppData\Local\Temp\ipykernel_57304\3965050420.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method='bfill') # fills the null values with backward data

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'  117.0     130.0     409.1
1       60.0  '2020/12/03'  117.0     145.0     340.0
2       60.0  '2020/12/03'  109.0     135.0     340.0
3       45.0  '2020/12/04'  109.0     148.0     282.4
4       45.0  '2020/12/06'  117.0     148.0     406.0
5       60.0  '2020/12/06'  110.0     127.0     300.0
6       60.0  '2020/12/07'  110.0     136.0     374.0
7      450.0  '2020/12/09'  104.0     134.0     253.3
8       30.0  '2020/12/09'  109.0     133.0     195.1
9       60.0  '2020/12/10'   98.0     124.0     269.0
10      60.0  '2020/12/11'  103.0     120.0     329.3
11      60.0  '2020/12/12'  100.0     120.0     250.7
12      60.0  '2020/12/12'  100.0     120.0     250.7
13      60.0  '2020/12/13'  106.0     128.0     282.4
14      60.0  '2020/12/14'  104.0     132.0     379.3
15      60.0  '2020/12/15'   98.0     123.0     275.0
16      60.0  '2020/12/16'   98.0     120.0     215.2
17      60.0  '2020/12/17'  100.0     120.0     300.0
18      45.0  '2020/12/18'   90.0     112.0     282.4
19      60.0  '2020/12/19'  103.0     123.0     323.0
20      45.0  '2020/12/20'   97.0     125.0     243.0
21      60.0  '2020/12/21'  108.0     119.0     364.2
22      45.0  '2020/12/23'  100.0     119.0     282.0
23      60.0  '2020/12/23'  130.0     101.0     300.0
24      45.0  '2020/12/24'  105.0     132.0     334.5
25      60.0  '2020/12/25'  102.0     126.0     334.5
26      60.0      20201226  100.0     120.0     250.0
27      60.0  '2020/12/27'   92.0     118.0     241.0
28      60.0  '2020/12/28'  103.0     132.0     282.4
29      60.0  '2020/12/29'  100.0     132.0     280.0
30      60.0  '2020/12/31'   92.0     115.0     243.0
31      60.0  '2020/12/31'   92.0     115.0     243.0

In [179]:
var.fillna(method='bfill',axis=1) # along columns

C:\Users\2309m\AppData\Local\Temp\ipykernel_57304\2880211765.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method='bfill',axis=1) # along columns
C:\Users\2309m\AppData\Local\Temp\ipykernel_57304\2880211765.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  var.fillna(method='bfill',axis=1) # along columns

   Duration          Date  Pulse Maxpulse Calories
0      60.0  '2020/12/01'  130.0    130.0    409.1
1      60.0         117.0  117.0    145.0      NaN
2      60.0  '2020/12/03'  135.0    135.0    340.0
3      45.0  '2020/12/04'  109.0    282.4    282.4
4      45.0         117.0  117.0    148.0    406.0
5      60.0  '2020/12/06'  127.0    127.0    300.0
6      60.0  '2020/12/07'  110.0    136.0    374.0
7     450.0         104.0  104.0    134.0    253.3
8      30.0  '2020/12/09'  109.0    133.0    195.1
9      60.0  '2020/12/10'   98.0    124.0    269.0
10     60.0  '2020/12/11'  103.0    329.3    329.3
11     60.0  '2020/12/12'  100.0    120.0    250.7
12     60.0  '2020/12/12'  100.0    120.0    250.7
13     60.0  '2020/12/13'  106.0    128.0    282.4
14     60.0  '2020/12/14'  104.0    132.0    379.3
15     60.0  '2020/12/15'  123.0    123.0    275.0
16     60.0  '2020/12/16'   98.0    120.0    215.2
17     60.0  '2020/12/17'  100.0    120.0    300.0
18     45.0  '2020/12/18'   90.0    112.0    282.4
19     60.0  '2020/12/19'  103.0    123.0    323.0
20     45.0  '2020/12/20'   97.0    125.0    243.0
21     60.0  '2020/12/21'  108.0    364.2    364.2
22     45.0         100.0  100.0    119.0    282.0
23     60.0  '2020/12/23'  130.0    101.0    300.0
24     45.0  '2020/12/24'  105.0    132.0      NaN
25     60.0  '2020/12/25'  102.0    126.0    334.5
26     60.0      20201226  100.0    120.0    250.0
27     60.0  '2020/12/27'   92.0    118.0    241.0
28     60.0  '2020/12/28'  103.0    132.0    282.4
29     60.0  '2020/12/29'  100.0    132.0    280.0
30      NaN           NaN    NaN      NaN      NaN
31     60.0  '2020/12/31'   92.0    115.0    243.0

In [181]:
var.fillna('hiiiiiiii',limit=1) # a column has only one null value

     Duration          Date      Pulse   Maxpulse   Calories
0        60.0  '2020/12/01'  hiiiiiiii      130.0      409.1
1        60.0     hiiiiiiii      117.0      145.0  hiiiiiiii
2        60.0  '2020/12/03'        NaN      135.0      340.0
3        45.0  '2020/12/04'      109.0  hiiiiiiii      282.4
4        45.0           NaN      117.0      148.0      406.0
5        60.0  '2020/12/06'        NaN      127.0      300.0
6        60.0  '2020/12/07'      110.0      136.0      374.0
7       450.0           NaN      104.0      134.0      253.3
8        30.0  '2020/12/09'      109.0      133.0      195.1
9        60.0  '2020/12/10'       98.0      124.0      269.0
10       60.0  '2020/12/11'      103.0        NaN      329.3
11       60.0  '2020/12/12'      100.0      120.0      250.7
12       60.0  '2020/12/12'      100.0      120.0      250.7
13       60.0  '2020/12/13'      106.0      128.0      282.4
14       60.0  '2020/12/14'      104.0      132.0      379.3
15       60.0  '2020/12/15'        NaN      123.0      275.0
16       60.0  '2020/12/16'       98.0      120.0      215.2
17       60.0  '2020/12/17'      100.0      120.0      300.0
18       45.0  '2020/12/18'       90.0      112.0      282.4
19       60.0  '2020/12/19'      103.0      123.0      323.0
20       45.0  '2020/12/20'       97.0      125.0      243.0
21       60.0  '2020/12/21'      108.0        NaN      364.2
22       45.0           NaN      100.0      119.0      282.0
23       60.0  '2020/12/23'      130.0      101.0      300.0
24       45.0  '2020/12/24'      105.0      132.0        NaN
25       60.0  '2020/12/25'      102.0      126.0      334.5
26       60.0      20201226      100.0      120.0      250.0
27       60.0  '2020/12/27'       92.0      118.0      241.0
28       60.0  '2020/12/28'      103.0      132.0      282.4
29       60.0  '2020/12/29'      100.0      132.0      280.0
30  hiiiiiiii           NaN        NaN        NaN        NaN
31       60.0  '2020/12/31'       92.0      115.0      243.0